* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}


body {
width: 96%;
margin: 0;
background-color: white;
text-align: center;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


header {
background-color: white ;
padding: 5px 0px 0px 0px;
margin: 0px 0px 0px 0px;
color: black;
/*border-bottom: 1px solid black;*/
}


/*#056f83 *#A9A9A9  #FF0000 #ffffff*/ 

nav {
width: 80%;
text-align: center;
background-color: white ;
color: black;
margin: 0px 0% 0px 10%;
padding: 0px;
border-top: 1px solid black;
border-bottom: 1px solid black;
border-style:dashed none dashed none;
}



nav ul{
margin: 0px;
padding: 7px 0px 7px 0px;
}

nav li {
display: inline;
margin-right: 4%;
}

nav li a {
color: black;
text-decoration:none;
font-size: 100%;
}

nav li a:hover, nav li a.current {
color: black;
text-shadow: 2px 2px 3px #AAAAAA;
font-weight: bold;
font-size: 100%
}

main {
overflow: auto;
margin: 0% 0% 0% 0%;
}

/* For width smaller than 400px: 
img.row1_image1 {
	width: 320px;
    height: auto;
}

/* For width between 400px and 1000px:
@media only screen and (min-width: 400px) and (max-width: 1000px) {
img.row1_image1 {
    width: 800px;
    height: auto;
    }
}
/* For width larger than 1000px:
@media only screen and (min-width: 1000px) {
img.row1_image1 {
    width: 100%;
    height: auto;
    }
}
*/


main img{
/* If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size
If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size   
*/     
    width: 100%;
    height: auto;
}


footer {
padding: 10px;
margin: 3px;
clear: left;
font-family: arial;
font-size: 80%;
}

